# ====================================================================
# 1. BINARIES AND EXECUTABLES
# ====================================================================
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
out/
dist/


# ====================================================================
# 2. ENVIRONMENT VARIABLES & SECRETS
# ====================================================================
.env
.env.*
!.env.example
*.pem
*.key
certs/
secrets/

# ====================================================================
# 3. DEPENDENCIES AND TOOLS
# ====================================================================
vendor/
tmp/
.air.toml

# ====================================================================
# 4. OS & IDE SPECIFIC FILES
# ====================================================================
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
.idea/
*.iwb
*.iws
.vscode/
!.vscode/extensions.json
!.vscode/launch.json
.history/

# ====================================================================
# 5. TESTING, COVERAGE, LOGS
# ====================================================================
*.test
*.out
c.out
coverage.txt
profiling/
log/
*.log
.docker/
