DATABASE_URL=postgresql://postgresforbookmyvenue:postgresforvenuepassword@localhost:5454/nithul-bookmyvenue
REDIS_URL=redis://localhost:6341
HOST=0.0.0.0
PORT=8081
ENVIRONMENT=development
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:5175,http://localhost:5176,http://localhost:3000

ENCRYPTION_KEY=
JWT_PRIVATE_KEY=
PENDING_BOOKING_EXPIRY=15m
PENDING_BOOKING_SWEEP_INTERVAL=5m

CLOUDINARY_API_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

RAZORPAY_TEST_API_KEY=
RAZORPAY_TEST_API_SECRET=

